* text=auto eol=lf
*.py text eol=lf
*.c text eol=lf
*.h text eol=lf
*.js text eol=lf
*.md text eol=lf
*.pyi text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.ttf binary
*.gz binary
